<?xml version="1.0"?>
<phpunit>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="./phpunit-report/coverage-report.xml"/>
        <log type="junit" target="./phpunit-report/tests-report.xml"/>
    </logging>

    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
